properdocs @ git+https://github.com/ProperDocs/properdocs.git
mkdocs-material
mkdocs-redirects
bettertags
mkdocs-curriculum-vitae
mkdocs-awesome-pages-plugin
mkdocs-section-index
mkdocs-rss-plugin
mkdocs-glightbox
mkdocs-minify-plugin
